published policy logs{
    show published policies only Step_Number=6 or 7
}


fields in policy log:

status {
    new: when request gets initiated (backend)
    in progress: after quality team approves (backend)
    active: after quality publish (after step 5) (backend)
    delayed: (Preparation - Stakeholders - Regulators) (backend)
    obsolete: {
        backend: merging policies marked as obsolete
        frontend (manual): change status and step number to obsolete [DONE]
    }
}

due date (backend) {
    populated based on SLA

    when quality approves (get that date + SLA duration = due date)
}


Document Link (when to show/unshow) {
    dont show doc until preparation step (after quality approves)
    dont show doc if status is NEW (disabled button)

    read from template_url for all stages [DONE]
    read from publish_url only in published logs page [DONE]
}


publishing list {
    choose users
    fill list: Policy_Acknowledgment_List
    change stage to completed
}




fields in flow:

status: (when does it change - possible values)
revision number: (backend)
next revision date: (backend)
publishing date: when quality publishes document (add field publish_date) [DONE]
submit date: when initiator creates it (Created) (delete submit_date) [DONE]
view file: displayed on stages 3 and onwards? when does the URL gets saved? how to display it?


quality publish stage:
people picker: choose people and roles? what are possible values of roles?
what happens to the people picked? move which document? place access where? is there a list?


quality completed stage:
make obsolete: what exactly happens when I press it? only status gets set? what stage does it move into?
change request: what happens here?


reinitiating the flow {
    change request (change Step_Number to 1) (repopulate users) [DONE]
    next revision date approaches (backend)
}


how does a completed flow gets started again? 
what happens to existing fields:
status
revision number
next revision date
publishing date
submit date
due date
view file


-----------------------

read from template_url for all stages [DONE]
read from publish_url only in published logs page [DONE]



loader for each page [DONE]

view file implementation [DONE]

list of departments in policy logs filter  (read from Org_Unit list) [DONE]

input search for policies + search filtering for policy published logs [DONE]

append random number to same uploaded document [DONE]

retrieving docs for initiator - quality bug [DONE]

for initiator [ability to remove file]
- open file without downloading 
view: https://mgskw.sharepoint.com/sites/DQ/Policy%20Attachments/Forms/AllItems.aspx?id=%2Fsites%2FDQ%2FPolicy%20Attachments%2FFile%5Ft1%2D69%2D68394%2Ejson&parent=%2Fsites%2FDQ%2FPolicy%20Attachments



add custom color to status on each page [DONE]



people picker {
    read from active directory for people picker [DONE]


    people picker for [DONE]
    publishing list {
        choose users
        fill list: Policy_Acknowledgment_List
        change stage to completed
    }


    people picker fix in quality page
}

add disabled to publish button (dont forget)

fix in policy published log (case insensitive): filter += `substringof('${search_title}', Request_title)`;











get users -> Email ne ''  replace with PrincipalType = 1 [DONE]

fix publish button still disabled even if user has permission (investigate) [DONE]

close people picker modal on save green button [DONE]


populate number of people chosen + avatar in publish step for people picker [DONE]

CSS problem for choosing 3 people or more - avatar 2 and 3 get collided

people picker fix in quality page [DONE]

populate previous team members to people picker in quality - publish stages [DONE]

save people picker by deleting previous members and adding new ones

validation to make sure people are selected in people picker before submitting stage (both quality and publish stages) [DONE]


Policy_Approver_History = implement history policy page for each stage
step_number is the current step to show 
using approver_status to see if it was send back/proceed




debounce timer for policy published logs input [DONE]
fix in policy published log (case insensitive): filter += `substringof('${search_title}', Request_title)`; [DONE]


for initiator [ability to remove file] [DONE]
- open file without downloading [DONE]


- issue with view file implementation for fields Policy_Template_URL and Policy_Published_URL







